<ion-header>
  <ion-toolbar color="green">
    <ion-title>
      <ion-icon name="settings" class="header-icon"></ion-icon>&nbsp; {{heading}} Settings
    </ion-title>
    <ion-buttons start>
      <ion-toggle color="energized" [(ngModel)]="isCar" (ngModelChange)="switchType($event)"></ion-toggle>
    </ion-buttons>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows,core"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="dark-content">
  <br/>
  <form (ngSubmit)="saveNewSettings(settingsForm)" #settingsForm="ngForm" novalidate>
    <ion-list class="dark-list">
      <ion-item class="dark-item">
        <ion-label stacked>First 2 Hours</ion-label>
        <ion-input type="number" [(ngModel)]="settings.first2Hours" name="firstHour" required></ion-input>
      </ion-item>
      <ion-item class="dark-item">
        <ion-label stacked>Additional Hours</ion-label>
        <ion-input type="number" [(ngModel)]="settings.additionalHour" name="additionalHour" required></ion-input>
      </ion-item>
      <ion-list-header class="custom-header dark-list-header">
        Custom Charges
      </ion-list-header>
      <ion-item class="dark-item">
        <ion-label stacked>Hours</ion-label>
        <ion-input type="number" [(ngModel)]="settings.customCharges.hours" name="hours"></ion-input>
      </ion-item>
      <ion-item class="dark-item">
        <ion-label stacked>Amount</ion-label>
        <ion-input type="number" [(ngModel)]="settings.customCharges.amount" name="amount"></ion-input>
      </ion-item>
    </ion-list>
    <div padding>
      <button type="submit" ion-button color="green" block [disabled]="settingsForm.invalid">Save</button>
    </div>
  </form>
  <ion-fab right bottom>
    <button ion-fab color="green" (click)="showKeyPrompt()">
      <ion-icon name="key"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
