<ion-content class="welcome-sliders">
  <ion-slides pager>
    <ion-slide class="ion-slide-1">
      <ion-toolbar>
        <ion-buttons end>
          <button ion-button color="primary" (click)="goToLastSlide()">Skip</button>
        </ion-buttons>
      </ion-toolbar>
      <h2 class="slide-title">
        RaPark
      </h2>
      <p>
        An OTP based paperless parking initiative!
      </p>
    </ion-slide>
    <ion-slide class="ion-slide-2">
      <ion-toolbar>
        <ion-buttons end>
          <button ion-button color="primary" (click)="goToLastSlide()">Skip</button>
        </ion-buttons>
      </ion-toolbar>
      <h2 class="slide-title">
        Why Rapark?
      </h2>
      <p>
        Do you want to save our precious trees ? If your answer is YES, you are at the right place. Join the revolution. Save trees.
      </p>
    </ion-slide>
    <ion-slide class="ion-slide-3">
      <ion-toolbar>
      </ion-toolbar>
      <h2 class="slide-title">Ready to Park?</h2>
      <button ion-button large clear icon-end color="primary" (click)="continue()">
        Continue
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>
